@import "@fortawesome/fontawesome-free/css/all.css";
@import "/node_modules/select2/dist/css/select2.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colour Palette */


:root {
    --background: #fff;
    --background-blur-color: rgba(246, 246, 248, 0.8);
    --background-blur-filter: saturate(180%) blur(20px);
    --primary-grey: #f6f8fa; /*#eaedf1*/
    --primary-grey-hover: #f3f4f6;
    --secondary-grey: #e7e8ea; /* #efeff0 */
    --border-grey: #d0d7de;
    --border-grey-hover: #bec3ca; /* ?? */
    --icon-grey: #656d76;
    --blue-hover: #0969da;
    --primary-color: ;
    --primary-color-hover: ;
    --secondary-color: ;
    --accent-color: #54aeff;
    --text-heading: #1f2328;
    --text-primary: #1f2328;
    --text-primary-highlight: #000;
    --text-opposite: #e6edf3;
    --text-opposite-highlight: #fff;
    --text-shy: #656d76;
    --text-success: #17bc7a;
    --text-warning: #dc564f;
    --box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.2);
    --scrollbar-color: #d0d7de;
    --scrollbar-color-hover: #bec3ca;
    --mobile-nav-blur-color: rgba(246, 248, 250, 0.8);


    --danger: rgba(220, 38, 38, 1);
    --danger-hover: rgba(239, 68, 68, 1);
    --text-white: #fff;
    --text-black: #000;

    --main-content-width: 1000px;
    --container-padding: 32px;
    --container-small-padding: 16px;
    --searchbar-primary-height: 32px;
    --searchbar-primary-width: 400px;
    --navbar-height: 50px;
    --border-radius: 0.5rem;
    --scrollbar-width: 14px;
    --scrollbar-border: 3px;
    --scrollbar-border-radius: 7px;

    --mobile-screen-width: 768px;
    --mobile-navigation-height: 75px;
}

.dark {
    --background: #000;
    --background-blur-color: rgba(22, 22, 023, 0.8);
    --background-blur-filter: saturate(180%) blur(20px);
    --primary-grey: #131415; /* To adjust */
    --primary-grey-hover: #30363d;
    --secondary-grey: #1c1b20; /*#1c1c1e;*/
    --border-grey: #30363d;
    --border-grey-hover: #8b949e;
    --icon-grey: #7d8590;
    --blue-hover: #2f81f7;
    --primary-color: ;
    --primary-color-hover: ;
    --secondary-color: ;
    --accent-color: #7d8590;
    --text-heading: #e6edf3; /*#f5f5f7*/
    --text-primary: #e6edf3;
    --text-primary-highlight: #fff;
    --text-opposite: #1f2328;
    --text-opposite-highlight: #000;
    --text-shy: #7d8590;
    --text-success: #68dfaf;
    --text-warning: #ed726c;
    --box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.4); /* To adjust */
    --scrollbar-color: #1c1b20;
    --scrollbar-color-hover: #30363d;
    --mobile-nav-blur-color: rgba(19, 20, 21, 0.8); /* To adjust */
}

@media (prefers-color-scheme: dark) {
    .system {
        --background: #000;
        --background-blur-color: rgba(22, 22, 023, 0.8);
        --background-blur-filter: saturate(180%) blur(20px);
        --primary-grey: #131415; /* To adjust */
        --primary-grey-hover: #30363d;
        --secondary-grey: #1c1b20; /*#1c1c1e;*/
        --border-grey: #30363d;
        --border-grey-hover: #8b949e;
        --icon-grey: #7d8590;
        --blue-hover: #2f81f7;
        --primary-color: ;
        --primary-color-hover: ;
        --secondary-color: ;
        --accent-color: #7d8590;
        --text-heading: #e6edf3; /*#f5f5f7*/
        --text-primary: #e6edf3;
        --text-primary-highlight: #fff;
        --text-opposite: #1f2328;
        --text-opposite-highlight: #000;
        --text-shy: #7d8590;
        --text-success: #68dfaf;
        --text-warning: #ed726c;
        --box-shadow: 0 5px 20px 4px rgba(0, 0, 0, 0.4); /* To adjust */
        --scrollbar-color: #1c1b20;
        --scrollbar-color-hover: #30363d;
        --mobile-nav-blur-color: rgba(19, 20, 21, 0.8); /* To adjust */
    }
}


/* Global Styles */


body {
    background-color: var(--background);
}

h1 {
    font-size: 1.75em;
    font-weight: 800;
    color: var(--text-heading);
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--text-heading);
    width: 100%;
}

h3 {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--text-heading);
}

h4 {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--text-heading);
}

p {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-primary);
    margin-top: 4px;
}

.text-shy {
    font-size: 0.9em;
    font-weight: 400;
    color: var(--text-shy);
}

.text-primary {
    font-size: 1em;
    font-weight: 400;
    color: var(--text-primary);
}

.text-warning {
    color: var(--text-warning);
}

.text-success {
    color: var(--text-success);
}

.text-center {
    text-align: center;
}

.text-sm {
    font-size: 0.9em;
}

.no-focus {
    outline: none !important;
    outline-offset: 0 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: var(--border-radius) !important;
}

.icon {
    margin-right: 0.5em;
}

.key-symbol {
    border: 1px solid var(--border-grey);
    background-color: var(--primary-grey);
    padding: 0.4em 0.4em;
    border-radius: 0.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8em;
}

.dot {
    vertical-align: middle;
}

.sidebar-icon {
    margin-right: 0.5em;
}

.session-status {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius);
    background-color: var(--secondary-grey);
    max-width: 400px;
    word-wrap: break-word;
    text-align: center;
    padding: 8px 16px;
    box-shadow: var(--box-shadow);
}

.session-status > p {
    margin-top: 0 !important;
}

.hidden {
    display: none !important;
}

.prevent-scroll {
    overflow: hidden !important;
}

.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

.margin-bottom-sm {
    margin-bottom: 16px;
}

.margin-bottom-lg {
    margin-bottom: 32px;
}

.margin-top-sm {
    margin-top: 16px;
}

.margin-top-lg {
    margin-top: 32px;
}

.space-top-xs > :not([hidden]):not(:first-child) {
    margin-top: 8px;
}

.space-top-sm > :not([hidden]):not(:first-child) {
    margin-top: 16px;
}

.space-bottom-sm > :not([hidden]):not(:last-child) {
    margin-bottom: 16px;
}

.space-top-lg > :not([hidden]):not(:first-child) {
    margin-top: 32px;
}

.space-bottom-lg > :not([hidden]):not(:last-child) {
    margin-bottom: 32px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.container {
    background-color: var(--secondary-grey);
    border-radius: 0.5rem;
    padding: var(--container-padding);
    width: 100%;
    box-sizing: border-box;
}

.btn-container-start {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn-container-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.btn-container-apart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-search {
    width: 100%;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--border-grey);
}

.primary-color-btn {
    background-color: var(--blue-hover) !important; /* TODO: Change this to --primary-color */
    border: none !important;
    color: var(--text-opposite) !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.primary-color-btn:hover {
    background-color: var(--blue-hover) !important; /* TODO: Change this to --primary-color-hover */
    border: none !important;
    color: var(--text-opposite-highlight) !important;
}

.primary-color-btn:focus {
    outline: 3px solid var(--blue-hover); /* TODO: Change this to --primary-color-hover */
    outline-offset: 1px;
    border-radius: var(--border-radius);
    box-shadow: none;
}

@media (min-width: 1024px) {
    .restrict-max-width {
        max-width: 36rem;
    }
}

body::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

body::-webkit-scrollbar-track {
    background-color: var(--background);
    border-radius: 0 0.5rem 0.5rem 0;
    border: solid var(--scrollbar-border) var(--background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: var(--scrollbar-border-radius);
    border: solid var(--scrollbar-border) var(--background);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
}


/* Tooltips */


.tooltip {
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: var(--secondary-grey);
    color: var(--text-heading);
    font-weight: 400;
    font-size: 0.9em;
    text-wrap: nowrap;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius);
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.7s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Top tooltip (bottom arrow) */

.tooltip-top .tooltip-text {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 10px);
}

.tooltip-top .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-grey) transparent transparent transparent;
}

/* Bottom tooltip (top arrow) */

.tooltip-bottom .tooltip-text {
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 10px);
}

.tooltip-bottom .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-grey) transparent;
}

/* Right tooltip (left arrow) */

.tooltip-right .tooltip-text {
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
}

.tooltip-right .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--secondary-grey) transparent transparent;
}

/* Left tooltip (right arrow) */

.tooltip-left .tooltip-text {
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 10px);
}

.tooltip-left .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--secondary-grey);
}


/* Guest Layout */


.guest-main-content {
    max-width: 600px;
    margin: 75px auto 0;
}

@media screen and (max-width: 640px) {
    .guest-main-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.guest-app-logo {
    text-align: center;
}

.guest-app-slogan {
    text-align: center;
}


/* App Layout */


.main-content {
    max-width: var(--main-content-width);
    margin: calc(2 * var(--navbar-height)) auto 0;
    padding: 2em 0;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .main-content {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: var(--mobile-navigation-height);
    }

    .show-sidebar-btn {
        display: none !important;
    }

    .sidebar {
        display: none !important;
    }

    .mobile-navigation {
        display: flex !important;
    }

    body::-webkit-scrollbar-track {
        margin-bottom: var(--mobile-navigation-height);
    }

    body::-webkit-scrollbar-thumb {
        margin-bottom: var(--mobile-navigation-height);
    }

    :root {
        --container-padding: 16px;
    }
}


/* Navbar Layout */


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.navbar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: var(--navbar-height);
    background-color: var(--background-blur-color);
    backdrop-filter: var(--background-blur-filter);
    color: var(--text-primary);
    padding: 10px 25px;
    border-bottom: 1px solid var(--border-grey);
    transition: margin-left 0.3s, background-color 0.3s;
}

.navbar-content-solid {
    background-color: var(--background) !important;
    backdrop-filter: none !important;
}

.navbar ul {
    display: flex;
    gap: 25px;
}

.navbar .right-items {
    display: flex;
    align-items: center;
}

.searchbar {
    position: relative;
    display: inline-flex;
    flex-direction: row;
}

.search-icon-btn {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    gap: 20.5px;
    justify-content: center;
    align-items: center;
}

.search-icon {
    transition: padding 0.3s ease;
}

.search-icon-active {
    padding-right: 12px;
    background-color: var(--secondary-grey) !important;
}

.search-icon-disabled {
    cursor: default;
}

.search-icon-disabled:hover {
    color: var(--icon-grey) !important;
}

.search-close {
    cursor: pointer;
    color: var(--icon-grey);
    display: none;
}

.search-close-active {
    display: block;
}

@keyframes scaleSearchIcon {
    0% { transform: scale(1); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

.search-input-container {
    width: 0;
    overflow: hidden;
    height: var(--searchbar-primary-height);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    transition: width 0.3s ease, background-color 0.3s;
}

.search-input-active {
    background-color: var(--secondary-grey) !important;
    width: var(--searchbar-primary-width) !important;
}

.search-results {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 10;
    background-color: var(--secondary-grey);
    opacity: 0;
    color: var(--text-primary);
    padding: 0;
    border-radius: var(--border-radius);
    height: 0;
    width: 0;
    overflow: hidden;
    transition: opacity 0.3s, width ease 0.3s;
    box-shadow: var(--box-shadow);
}

.search-results-active {
    padding: var(--container-padding);
    width: calc(var(--searchbar-primary-width) + 60.5px);
    height: auto;
    opacity: 1;
    overflow-y: auto;
}

.search-results-active::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.search-results-active::-webkit-scrollbar-track {
    background-color: var(--secondary-grey);
    border-radius: 0 0.5rem 0.5rem 0;
    border: solid var(--scrollbar-border) var(--secondary-grey);
    margin: 3px 0;
}

.search-results-active::-webkit-scrollbar-thumb {
    background-color: var(--border-grey);
    border-radius: var(--scrollbar-border-radius);
    border: solid var(--scrollbar-border) var(--secondary-grey);
    margin: 3px 0;
}

.search-results-active::-webkit-scrollbar-thumb:hover {
    background-color: var(--icon-grey);
}

.search-results ul {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.5em;
}

.search-recent-expenses-inactive {
    display: none;
}

.search-results-list {
    display: none;
}

.search-results-list-active {
    display: block;
}

.search-header {
    border-bottom: 1px solid var(--text-shy);
    padding-bottom: 0.25em;
    margin-bottom: 1em;
}

.search-section {
    margin-bottom: 1em;
}

.right-items li {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mobile Navbar */


.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

@media (max-width: 768px) {
    .navbar {
      display: none;
    }
  
    .mobile-navbar {
      display: block !important;
    }
}

.mobile-navbar ul {
    display: flex;
    gap: 25px;
}

.mobile-navbar .right-items {
    display: flex;
    align-items: center;
}

.mobile-search-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: var(--background);
    color: var(--text-primary);
    transition: height 0.3s ease-in-out, opacity 0.3s;
}

.mobile-search-wrapper-active {
    z-index: 10;
    opacity: 1;
    height: 100%;
    overflow-y: auto;
}

.mobile-search-wrapper-active::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.mobile-search-wrapper-active::-webkit-scrollbar-track {
    background-color: var(--background);
    border: solid var(--scrollbar-border) var(--background);
    margin: var(--navbar-height) 0 var(--mobile-navigation-height);
}

.mobile-search-wrapper-active::-webkit-scrollbar-thumb {
    background-color: var(--border-grey);
    border-radius: var(--scrollbar-border-radius);
    border: solid var(--scrollbar-border) var(--background);
}

.mobile-search-wrapper-active::-webkit-scrollbar-thumb:hover {
    background-color: var(--icon-grey);
}

.mobile-searchbar-container {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: var(--navbar-height);
    width: 100%;
    overflow: hidden;
    padding: 0 var(--container-small-padding);
}

.mobile-searchbar-container-scrolling {
    border-bottom: 1px solid var(--border-grey);
}

.mobile-search-icon-btn {
    display: flex;
    flex-direction: row;
    gap: 20.5px;
    justify-content: center;
    align-items: center;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    background-color: var(--secondary-grey);
    padding-right: 12px;
    height: var(--searchbar-primary-height);
}

.mobile-search-close {
    cursor: pointer;
    color: var(--icon-grey)
}

.mobile-search-icon-open {
    color: var(--icon-grey);
}

.mobile-search-input-container {
    height: var(--searchbar-primary-height);
    width: 100%;
}

.mobile-search-input {
    border-radius:  var(--border-radius) 0 0 var(--border-radius) !important;
}

.mobile-search-results {
    margin-top: var(--navbar-height);
    width: 100%;
    padding: var(--container-small-padding);
}

.mobile-search-results ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.mobile-search-results-list {
    display: none;
}

.mobile-search-results-list-active {
    display: block;
}

.mobile-search-header {
    margin-bottom: 0.25em;
}

.mobile-search-section {
    background-color: var(--secondary-grey);
    padding: var(--container-small-padding);
    border-radius: var(--border-radius);
    margin-bottom: 1em;
}


/* Page Header */


.page-header {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: var(--background);
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.header-content {
    max-width: var(--main-content-width);
    margin: 0 auto;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .header-content {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.header-content-hidden {
    transform: translateY(-200%);
}

.header-content-scrolling {
    background-color: var(--background-blur-color);
    backdrop-filter: var(--background-blur-filter);
    border-bottom: 1px solid var(--border-grey);
}


/* Sidebar Layout */


.show-sidebar-btn {
    color: var(--icon-grey);
    height: 100%;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-sidebar-btn-container-end {
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
}

.pin-sidebar-icon {
    color: var(--icon-grey);
    cursor: pointer;
}

.pin-sidebar-icon:hover {
    color: var(--blue-hover);
}

@keyframes scaleSidebarIcon {
    0% { transform: scaleX(1); }
    50% { transform: scaleX(0.7); }
    100% { transform: scaleX(1); }
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-heading);
    margin: 0 1em 50px 1em;
    height: var(--navbar-height);
}

.sidebar {
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--primary-grey);
    overflow-y: auto;
    overflow-x: hidden;
    width: 0;
    border-right: none;
    transition: 0.3s;
}

.sidebar-expanded {
    width: 250px !important;
    border-right: 1px solid var(--border-grey) !important;
}

.sidebar-item {
    font-size: 1.2em;
    color: var(--text-heading);
    padding: 0.5em 1em;
    border-radius: 0.75rem;
    margin: 0.4em 0.5em;
    text-wrap: nowrap;
    transition: background-color 0.1s ease;
}

.sidebar-item:hover {
    background-color: var(--secondary-grey);
}

.sidebar-item-active {
    background-color: var(--accent-color);
}

.sidebar-item-active:hover {
    background-color: var(--accent-color); /* TODO: add a hover color for this */
}

.sidebar-item-content {
    width: fit-content;
    transition: transform 0.2s;
}

.sidebar-item:hover > .sidebar-item-content, .sidebar-item-active:hover > .sidebar-item-content {
    transform: scale(1.13);
}


/* Mobile Navigation */


.mobile-navigation {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 15;
    height: var(--mobile-navigation-height);
    width: 100%;
    padding: var(--container-small-padding);
    color: var(--text-heading);
    background-color: var(--mobile-nav-blur-color);
    backdrop-filter: var(--background-blur-filter);
}

.mobile-navigation-item {
    width: 75px;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: center;
}

.mobile-nav-item-active {
    color: var(--accent-color); /* TODO: Change this to --primary-color */
}


/* Activity List */


.notification {
    color: var(--text-primary);
    padding: var(--container-small-padding) var(--container-padding);
    border-bottom: 1px solid var(--border-grey);
    transition: background-color 0.1s ease-in-out;
}

.notification:hover {
    background-color: var(--primary-grey);
}

.notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.notification-username {
    color: var(--text-primary-highlight);
    font-weight: 600;
}

.notification-grid {
    display: grid;
    grid-template-columns: auto 5%;
}

.delete-notification-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.delete-notification-btn {
    color: var(--icon-grey);
    transition: color 0.3s ease-in-out;
}

.delete-notification-btn:hover {
    color: var(--blue-hover);
    cursor: pointer;
}


/* Friends List */


.friend {
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    padding: var(--container-small-padding) var(--container-padding);
    border-bottom: 1px solid var(--border-grey);
    transition: background-color 0.1s ease-in-out;
}

.friend:hover {
    background-color: var(--primary-grey);
}


/* Groups List */


.group {
    color: var(--text-primary);
    display: grid;
    grid-template-columns: 30% auto;
    gap: 2em;
    padding: var(--container-small-padding) var(--container-padding);
    border-bottom: 1px solid var(--border-grey);
    transition: background-color 0.1s ease-in-out;
}

.group:hover {
    background-color: var(--primary-grey);
}

.group-img {
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius);
    height: 120px;
}


/* Group Settings */


.group-settings-member {
    display: flex;
    justify-content: space-between;
}

.invited-emails-container {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    background-color: var(--background);
    border: 1px solid var(--border-grey);
    border-radius: var(--border-radius);
    padding: 8px 12px;
    width: 100%;
}

.invite-chip {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-shy);
    background-color: var(--secondary-grey);
    border-radius: 0.25rem;
    padding: 0 6px;
}

.add-friend-icon {
    color: var(--icon-grey);
    transition: color 0.3s ease-in-out;
}

.add-friend-icon:hover {
    color: var(--blue-hover);
    cursor: pointer;
}

.friend-added-icon {
    color: var(--text-success);
}
